/* featured rooms */

// importing mixin
@import '../../styles/mixin';

.featured-rooms {
    padding: 5rem 0;

    .featured-rooms-center {
        width: 80vw;
        margin: 0 auto;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-row-gap: 2rem;
        grid-column-gap: 40px;

        @include screen {
            .featured-rooms-center {
                width: 95vw;
                max-width: 1170px;
            }
        }

        @include tablet {
            .featured-rooms-center {
                width: 90vw;
                grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            }
        }
    }
}

/* end pf featured rooms */