// importing _variables, _mixin
@import '../../styles/variables'; 
@import '../../styles/mixin' ;

// NavBar styling

.navbar {
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    
    background-color: var(--bgNavBar);
    z-index: 1;

    display: flex;
    justify-content: space-between;

    .nav-container {
        display: flex;

        .logo-div {
            .logo-link {
                color: var(--mainBlack);
    
                .logo {
                    margin: 25px 0 30px 50px;
        
                    border: 2px solid #555;
        
                    span {
                        margin: 0 4px;
        
                        font-size: 1.9rem;
                        letter-spacing: var(--mainSpacing);
                    }
        
                    span:first-child {
                        font-weight: 800;
                        text-shadow: $shadowDark;
                    }
        
                    span:last-child {
                        color: var(--primaryColor);
                        font-weight: 400;
                        text-shadow: $shadowLight;
                    }
                }
            }
        }
        

        .nav-links {
            // transition: var(--mainTransition);
            display: flex;
            flex-direction: row;

            line-height: 80px;
            margin-left: 100px;

            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }

            a {
                padding: 0 20px;
                font-size: 1.5rem;
                font-weight: 600;
                background-color: var(--bgNavBar);
                color: #555;
                text-align: center;
                transition: var(--mainTransition);
                letter-spacing: var(--mainSpacing);
        
                &:hover {
                    color: var(--primaryColor);
                }
            }

            .languages {
                display: none;

                    @media screen and (min-width: 768px) {
                        display: block;
                    }
            
                .language-options {
                    padding: 5px;
            
                    border: none;
                    border-radius: 8px;
                    background-color: var(--primaryColor);
                    color: var(--mainGrey);
                }
            }
        }
    }

    .nav-btn {
        margin-right: 50px;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        display: none;

        @media (max-width: 768px) {
            display: block;
        }

        .nav-icon {
            font-size: 2.2rem;
            color: var(--primaryColor);
        }
    }

    .nav-small {
        display: flex;
        position: relative;

        .logo-div {
            .logo-link {
                color: var(--mainBlack);
    
                .logo {
                    margin: 25px 0 30px 50px; 
                    border: 2px solid #555; 
                    span {
                        margin: 0 4px; 
                        font-size: 1.9rem;
                        letter-spacing: var(--mainSpacing);
                    } 
                    span:first-child {
                        font-weight: 800;
                        text-shadow: $shadowDark;
                    } 
                    span:last-child {
                        color: var(--primaryColor);
                        font-weight: 400;
                        text-shadow: $shadowLight;
                    }
                }
            }
        } 

        .nav-links {
            transition: var(--mainTransition);
            display: flex;
            flex-direction: column;
            position: absolute;

            top: 80px;
            width: 100vw;

            a {
                padding: 20px 0;
                font-size: 1.5rem;
                font-weight: 600;
                background-color: var(--bgNavBar);
                color: #555;
                text-align: center;
                transition: var(--mainTransition);
                letter-spacing: var(--mainSpacing); 
                &:hover {
                    color: var(--primaryColor);
                }
            }
        } 
    }

    .nav-btn {
        margin-right: 50px;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        .nav-icon {
            font-size: 2.2rem;
            color: var(--primaryColor);
        }
    }
}


