.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bgNavBar);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-container .logo-div .logo-link {
  color: var(--mainBlack);
}

.navbar .nav-container .logo-div .logo-link .logo {
  margin: 25px 0 30px 50px;
  border: 2px solid #555;
}

.navbar .nav-container .logo-div .logo-link .logo span {
  margin: 0 4px;
  font-size: 1.9rem;
  letter-spacing: var(--mainSpacing);
}

.navbar .nav-container .logo-div .logo-link .logo span:first-child {
  font-weight: 800;
  text-shadow: 2px 2px 3px #555;
}

.navbar .nav-container .logo-div .logo-link .logo span:last-child {
  color: var(--primaryColor);
  font-weight: 400;
  text-shadow: 2px 2px 3px #7a6732;
}

.navbar .nav-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 80px;
  margin-left: 100px;
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar .nav-container .nav-links {
    display: block;
  }
}

.navbar .nav-container .nav-links a {
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--bgNavBar);
  color: #555;
  text-align: center;
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
}

.navbar .nav-container .nav-links a:hover {
  color: var(--primaryColor);
}

.navbar .nav-container .nav-links .languages {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar .nav-container .nav-links .languages {
    display: block;
  }
}

.navbar .nav-container .nav-links .languages .language-options {
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: var(--primaryColor);
  color: var(--mainGrey);
}

.navbar .nav-btn {
  margin-right: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: none;
}

@media (max-width: 768px) {
  .navbar .nav-btn {
    display: block;
  }
}

.navbar .nav-btn .nav-icon {
  font-size: 2.2rem;
  color: var(--primaryColor);
}

.navbar .nav-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navbar .nav-small .logo-div .logo-link {
  color: var(--mainBlack);
}

.navbar .nav-small .logo-div .logo-link .logo {
  margin: 25px 0 30px 50px;
  border: 2px solid #555;
}

.navbar .nav-small .logo-div .logo-link .logo span {
  margin: 0 4px;
  font-size: 1.9rem;
  letter-spacing: var(--mainSpacing);
}

.navbar .nav-small .logo-div .logo-link .logo span:first-child {
  font-weight: 800;
  text-shadow: 2px 2px 3px #555;
}

.navbar .nav-small .logo-div .logo-link .logo span:last-child {
  color: var(--primaryColor);
  font-weight: 400;
  text-shadow: 2px 2px 3px #7a6732;
}

.navbar .nav-small .nav-links {
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  width: 100vw;
}

.navbar .nav-small .nav-links a {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--bgNavBar);
  color: #555;
  text-align: center;
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
}

.navbar .nav-small .nav-links a:hover {
  color: var(--primaryColor);
}

.navbar .nav-btn {
  margin-right: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.navbar .nav-btn .nav-icon {
  font-size: 2.2rem;
  color: var(--primaryColor);
}
/*# sourceMappingURL=navTest.css.map */