.footer {
  width: 100%;
  background-color: #333;
  color: whitesmoke;
  font-size: 1rem;
  position: static;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .main-container {
  padding: 50px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .footer .main-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .footer .main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer h3 {
  text-transform: uppercase;
}

.footer p {
  text-align: justify;
  font-size: 1rem;
}

.footer hr {
  margin-bottom: 20px;
}

.footer .contact-info {
  margin-bottom: 10px;
}

.footer .contact-info a {
  color: #777;
  font-size: 1.1rem;
  margin-left: 10px;
}

.footer .contact-info .email, .footer .contact-info .phone, .footer .contact-info .location {
  padding-bottom: 10px;
}

.footer .contact-info i {
  color: var(--primaryColor);
}

.footer .contact .contact-social-media .fab {
  color: var(--primaryColor);
  padding: 5px;
  font-size: 1.5rem;
}

.footer .contact .contact-social-media .fab:hover {
  color: #1d2e0ab2;
}

.footer .payment span {
  width: calc(33.3% - 7px);
  border: 1px solid #777;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.footer .payment span:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

.footer .payment .payPal {
  margin: 0 10px;
}

.footer .newsletter input, .footer .newsletter button {
  padding: 8px;
}

.footer .newsletter input {
  width: calc(66.6% - 10px);
  margin-right: 10px;
}

.footer .newsletter input::-webkit-input-placeholder {
  color: var(--primaryColor);
}

.footer .newsletter input:-ms-input-placeholder {
  color: var(--primaryColor);
}

.footer .newsletter input::-ms-input-placeholder {
  color: var(--primaryColor);
}

.footer .newsletter input::placeholder {
  color: var(--primaryColor);
}

.footer .newsletter input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primaryColor);
}

.footer .newsletter button {
  width: calc(33.3%);
  font-size: 1rem !important;
}

.footer .footer-container {
  background-color: #222;
  width: 100vw;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .go-top {
  font-size: 1.5rem;
  margin-left: 50px;
}

.footer .footer-container .go-top i {
  color: #99844c;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 50%;
}

.footer .footer-container .go-top i:hover {
  color: #41330e;
  background-color: #99844c;
  border: 1px solid transparent;
  cursor: pointer;
}

.footer .footer-container .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.footer .footer-container .copyright span a {
  color: #fff;
}

.footer .footer-container .copyright span a:hover {
  color: var(--primaryColor);
}

.footer .footer-container .copyright p {
  color: #777;
  text-transform: uppercase;
}

.footer .footer-container .question {
  margin-top: -70px;
  border: 1px solid #777;
  border-radius: 20%;
  padding: 15px;
  font-size: 1.3rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .footer .footer-container .question {
    display: block;
  }
}

.footer .footer-container .question:hover {
  background-color: #99844c;
  color: #41330e;
  cursor: pointer;
}

.footer .footer-container .question span {
  margin-left: 10px;
}
/*# sourceMappingURL=Footer.css.map */